@page
@model ForTh3Win.Pages.Kyle.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-lg-8 col-xl-8 mx-auto p-3 shadow-lg border border-4 rounded-3">
        <h1 class="text-center mb-3">Edit Review</h1>
        <form method="post" class="col d-flex flex-column" style="gap: 1rem;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Review.ID" />

            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        <input asp-for="Review.GameName" class="form-control" placeholder="Video Game" />
                        <label asp-for="Review.GameName" class="control-label"></label>
                        <span asp-validation-for="Review.GameName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="form-floating">
                        <input asp-for="Review.Publisher" class="form-control" placeholder="Publisher" />
                        <label asp-for="Review.Publisher" class="control-label"></label>
                        <span asp-validation-for="Review.Publisher" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-floating">
                        <input asp-for="Review.Reviewer" class="form-control" placeholder="Your name" />
                        <label asp-for="Review.Reviewer" class="control-label"></label>
                        <span asp-validation-for="Review.Reviewer" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        <textarea asp-for="Review.Description" style="height: 8rem;" id="descText" class="form-control" placeholder="Brief description of the game"></textarea>
                        <label asp-for="Review.Description" class="control-label"></label>
                        <small class="px-1 float-end"><span id="descCounter">0</span>/500</small>
                        <span asp-validation-for="Review.Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        <textarea asp-for="Review.ReviewText" style="height: 8rem;" id="reviewText" class="form-control" placeholder="Your review"></textarea>
                        <label asp-for="Review.ReviewText" class="control-label"></label>
                        <small class="px-1 float-end"><span id="reviewCounter">0</span>/500</small>
                        <span asp-validation-for="Review.ReviewText" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        <input asp-for="Review.ReviewerRating" type="number" class="form-control" placeholder="0-5.0"/>
                        <label asp-for="Review.ReviewerRating" class="control-label"></label>
                        <small class="px-1">0.0 - 5.0</small>
                        <span asp-validation-for="Review.ReviewerRating" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <select asp-for="Review.ESRBRating" class="form-control" asp-items="Html.GetEnumSelectList<Models.ESRBEnum>()">
                            <option>Select ESRB Rating ...</option>
                        </select>
                        <label asp-for="Review.ESRBRating" class="control-label"></label>
                        <span asp-validation-for="Review.ESRBRating" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        <select asp-for="Review.Genre" class="form-control" asp-items="Html.GetEnumSelectList<Models.GenreEnum>()">
                            <option>Select Genre ...</option>
                        </select>
                        <label asp-for="Review.Genre" class="control-label"></label>
                        <span asp-validation-for="Review.Genre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input asp-for="Review.ReleaseDate" class="form-control" placeholder="01/01/2000" />
                        <label asp-for="Review.ReleaseDate" class="control-label"></label>
                        <span asp-validation-for="Review.ReleaseDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Details" asp-route-id="@Model.Review.ID" class="btn btn-outline-secondary">Back to Review</a>
                <a asp-page="./Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        const counters = [
            {
                textarea: document.getElementById("reviewText"),
                counter: document.getElementById("reviewCounter")
            },
            {
                textarea: document.getElementById("descText"),
                counter: document.getElementById("descCounter")
            }
        ];

        counters.forEach(({ textarea, counter }) => {
            textarea.addEventListener("keyup", () => {
                counter.innerText = textarea.value.length
            });

            // set the initial count
            textarea.dispatchEvent(new KeyboardEvent("keyup", { key: "x" }));
        });
    </script>
}
