@page
@model ForTh3Win.Pages.Kyle.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Review.ID" />
            <div class="form-group">
                <label asp-for="Review.GameName" class="control-label"></label>
                <input asp-for="Review.GameName" class="form-control" />
                <span asp-validation-for="Review.GameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Publisher" class="control-label"></label>
                <input asp-for="Review.Publisher" class="form-control" />
                <span asp-validation-for="Review.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Reviewer" class="control-label"></label>
                <input asp-for="Review.Reviewer" class="form-control" />
                <span asp-validation-for="Review.Reviewer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Description" class="control-label"></label>
                <input asp-for="Review.Description" class="form-control" />
                <span asp-validation-for="Review.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.ReviewerRating" class="control-label"></label>
                <input asp-for="Review.ReviewerRating" class="form-control" />
                <span asp-validation-for="Review.ReviewerRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.ReviewText" class="control-label"></label>
                <input asp-for="Review.ReviewText" class="form-control" />
                <span asp-validation-for="Review.ReviewText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.ESRBRating" class="control-label"></label>
                <select asp-for="Review.ESRBRating" class="form-control"></select>
                <span asp-validation-for="Review.ESRBRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Genre" class="control-label"></label>
                <select asp-for="Review.Genre" class="form-control"></select>
                <span asp-validation-for="Review.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.ReleaseDate" class="control-label"></label>
                <input asp-for="Review.ReleaseDate" class="form-control" />
                <span asp-validation-for="Review.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
