@page
@model ForTh3Win.Pages.Kyle.EditModel
@section head{
    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", () => {

            const counters = [
                {
                    textarea: document.getElementById("reviewText"),
                    counter: document.getElementById("reviewCounter")
                },
                {
                    textarea: document.getElementById("descText"),
                    counter: document.getElementById("descCounter")
                }
            ];

            counters.forEach(({textarea, counter}) => {
                textarea.addEventListener("keyup", () => {
                    counter.innerText = textarea.value.length
                });

                // set the initial count
                textarea.dispatchEvent(new KeyboardEvent("keyup", { key: "x" }));
            });

        });
    </script>
}

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Review.ID" />
            <div class="form-group">
                <label asp-for="Review.GameName" class="control-label"></label>
                <input asp-for="Review.GameName" class="form-control" />
                <span asp-validation-for="Review.GameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Publisher" class="control-label"></label>
                <input asp-for="Review.Publisher" class="form-control" />
                <span asp-validation-for="Review.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Reviewer" class="control-label"></label>
                <input asp-for="Review.Reviewer" class="form-control" />
                <span asp-validation-for="Review.Reviewer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Description" class="control-label"></label>
                <textarea asp-for="Review.Description" rows="4" id="descText" class="form-control"></textarea>
                <small><span id="descCounter">0</span>/500</small>
                <span asp-validation-for="Review.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.ReviewerRating" class="control-label"></label>
                <input asp-for="Review.ReviewerRating" class="form-control" />
                <span asp-validation-for="Review.ReviewerRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.ReviewText" class="control-label"></label>
                <textarea asp-for="Review.ReviewText" rows="4" id="reviewText" class="form-control"></textarea>
                <small><span id="reviewCounter">0</span>/500</small>
                <span asp-validation-for="Review.ReviewText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.ESRBRating" class="control-label"></label>
                <select asp-for="Review.ESRBRating" class="form-control" asp-items="Html.GetEnumSelectList<Models.ESRBEnum>()">
                    <option>Select ESRB Rating ...</option>
                </select>
                <span asp-validation-for="Review.ESRBRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Genre" class="control-label"></label>
                <select asp-for="Review.Genre" class="form-control" asp-items="Html.GetEnumSelectList<Models.GenreEnum>()">
                    <option>Select Genre ...</option>
                </select>
                <span asp-validation-for="Review.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.ReleaseDate" class="control-label"></label>
                <input asp-for="Review.ReleaseDate" class="form-control" />
                <span asp-validation-for="Review.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
