@page
@model ForTh3Win.Pages.Russell.CreateModel
@section head{
    <style type="text/css">
        body {
            background-image: url('/Images/bg.jpg');
            margin: 0;
        }
    </style>
}

@{
    ViewData["Title"] = "Create";
}
<div class="row bg-secondary text-white">
<h1 class="text-center" style="font-family:'Book Antiqua'">Create Review</h1>

    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Review.GameName" class="control-label"></label>
                <input asp-for="Review.GameName" class="form-control" />
                <span asp-validation-for="Review.GameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Publisher" class="control-label"></label>
                <input asp-for="Review.Publisher" class="form-control" />
                <span asp-validation-for="Review.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Reviewer" class="control-label"></label>
                <input asp-for="Review.Reviewer" class="form-control" />
                <span asp-validation-for="Review.Reviewer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Description" class="control-label"></label>
                <input asp-for="Review.Description" class="form-control" />
                <span asp-validation-for="Review.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.ReviewerRating" class="control-label"></label>
                <input asp-for="Review.ReviewerRating" class="form-control" />
                <span asp-validation-for="Review.ReviewerRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.ReviewText" class="control-label"></label>
                <input asp-for="Review.ReviewText" class="form-control" />
                <span asp-validation-for="Review.ReviewText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.ESRBRating" class="control-label"></label>
                <select asp-for="Review.ESRBRating" class="form-control"></select>
                <span asp-validation-for="Review.ESRBRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Genre" class="control-label"></label>
                <select asp-for="Review.Genre" class="form-control"></select>
                <span asp-validation-for="Review.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.ReleaseDate" class="control-label"></label>
                <input asp-for="Review.ReleaseDate" class="form-control" />
                <span asp-validation-for="Review.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Create" class="btn btn-primary btn-outline-dark" />
                <p></p>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-sm btn-outline-dark bg-primary text-white px-3">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
