@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4" style="font-family:'Book Antiqua'">Game Reviews by Winners</h1>
    <p style="font-family:'Comic Sans MS'">#1 Source for video game reviews. Please choose a Member's page to get started!</p>

    <a href="Russell/Index" 
    style="color: black;
    background-color: blanchedalmond; 
    font-family:'Book Antiqua';
    font-size:x-large;  
    ">Russell</a>
    
    <p></p>

    <a href="Kyle/Index">Kyle</a>
    
    <p></p>

    <a href="James/Index">James</a>

</div>
