@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}


<div class="text-center bg-white">
    <h1 class="display-4" style="font-family:'Book Antiqua'">Game Reviews by Winners</h1>
    <p style="font-family:'Comic Sans MS'">#1 Source for video game reviews. Please choose a Member's page to get started!</p>


    <a asp-page="/Russell/Index" class="btn btn-lg btn-outline-info bg-secondary text-white px-5">Russ</a>
    
    <p></p>

    <a asp-page="/Kyle/Index" class="btn btn-lg btn-outline-dark px-5">Kyle</a>
    
    <p></p>

    <a href="James/Index">James</a>

</div>

