@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Game Reviews by Winners</h1>
    <p>#1 Source for video game reviews. Please choose a Member's page to get started!</p>

    <a href="Russell/Index">Russell</a>
    <a href="Kyle/Index">Kyle</a>
    
</div>
